:root {
  /* Colours */
  --color-bg: #fceb94; /* page background /*

  /* Header */
  --color-head-bg: #ff4b00;

  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: #ffffff;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #fffae2;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #8a8585;
  --color-cta-card-bg: #d5d2d0;
  /* news-cards */
  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #585a5e;
  --color-cta-newscard-bg: #787473;
  --color-cta-newscard-bg-inverted: #7b7d83;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #fceb94;
  --color-infobox-2-bg: #def5db;

  --form-background-color: #ffffff;
}

#eyes , #hands , #feet {
  opacity: 0.0;
}

#info-hands {
  display: none;
}

#info-feet {
  display: none;
}

button {
  cursor: pointer;
}

[popover] {

  margin: auto;
  padding: 1em;

  height: 90vh;
  max-width: 60ch;
  border: none;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  
  transition: 300ms ease-in-out allow-discrete;
  translate: 0 -5rem;
  opacity: 0;
  
  &:popover-open {
    opacity: 1;
    top: 0;
    translate: none;
    @starting-style{
      opacity: 0;
      translate: 0 5rem;
    }
  }
  
  img {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 1em 0;
  }

  button {
    display: block;
    margin-left: auto;
    border: none;
    padding: 2px 8px;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: var(--color-cta-card-bg);
    &:hover {
      background-color: var(--color-cta-newscard-bg);
      cursor: pointer;
    }
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

}